.header{
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: flex-end;
    background-color: #030200;
    align-items: center;
    margin: 2px;
}

 .link{
    display: flex;
    /* justify-content: space-around;  */
    /* flex-direction: row; */
    /* align-items: flex-end; */
    /* float: right; */
} 

#home:hover {
    color : #22CC7E;
    font-size: 22px;
} 

#fav:hover {
    color : #22CC7E;
    font-size: 22px;
} 

a {
     margin-right: 25px;
     color: #fff;
     text-decoration: none;
}

